asgiref==3.11.1
colorama==0.4.6
Django==6.0.5
django-filter==25.2
djangorestframework==3.17.1
dotenv==0.9.9
iniconfig==2.3.0
Markdown==3.10.2
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.2
